.layout {
    display: flex;
    min-height: 100vh;
    background-color: var(--bg-main);
}

.sidebar {
    width: 240px;
    background-color: var(--secondary);
    color: #ffffff;
    padding: 24px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

.logo{
    display: flex;
    gap: 0.75rem;
}
.sidebar h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.sidebar a {
    padding: 10px 14px;
    border-radius: 6px;
    color: #ffffff;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
}

.sidebar a:hover {
    background-color: #1f2937;
}

.sidebar button {
    margin-top: auto;
}

.content {
    margin-left: 240px;
    flex: 1;
    padding: 30px;
    min-height: 100vh;
    background-color: var(--bg-main);
}

@media (max-width: 768px) {
    .layout {
        flex-direction: column;
    }

    .sidebar {
        position: sticky;
        top: 0;
        width: 100%;
        height: auto;
        flex-direction: row;
        align-items: center;
        padding:14 16px;
        gap: 12px;
        transition: transform 0.3s ease-in-out;
    }

    .sidebar h3 {
        margin-bottom: 0;
        margin-right: auto;
    }

    .sidebar a {
        margin-bottom: 0;
    }

    .sidebar button {
        margin-top: 0;
    }

    .content {
        margin-left: 0;
        width: 100%;
        padding: 16px;
    }
}