.layout {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 240px;
    background-color: var(--secondary);
    color: #ffffff;
    padding: 24px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.sidebar button {
    margin-top: auto;
}

.content {
    flex: 1;
    overflow-y: auto;
    padding: 30px;
}

.sidebar h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.sidebar a {
    padding: 10px;
    border-radius: 6px;
}

.sidebar a:hover {
    background-color: #1f2937;
}
