.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #e8ecff;
}

.form-card {
    width: 450px;
    background: #fff;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.field {
    margin-bottom: 18px;
    width: 100%;
}

.field input {
    width: 100%;
    padding: 10px 42px 10px 12px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    background: #fff;
    font-size: 14px;
    box-sizing: border-box;
}

.password-box {
    position: relative;
    width: 100%;
}

.eye-btn {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #6b7280;
}

.eye-btn:hover {
    color: #000;
}

.error-text {
    font-size: 13px;
    color: red;
    margin-top: 4px;
}

.error {
    border-color: red !important;
}

.submit-btn {
    width: 100%;
    background: #000;
    color: white;
    padding: 10px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    border: none;
}